<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659457566191-1ndocagho2gfm6o29e857uena9078925.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659457566191-1ndocagho2gfm6o29e857uena9078925</string>
	<key>API_KEY</key>
	<string>AIzaSyAlat2nWbuE_4AuYcq0G_oO70aCf2N-9eM</string>
	<key>GCM_SENDER_ID</key>
	<string>659457566191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeApp</string>
	<key>PROJECT_ID</key>
	<string>recipe-app-7506d</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-app-7506d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659457566191:ios:5a52f36cfeea256bd7821a</string>
</dict>
</plist>